body{
    background-image: url(./Pics//image3.jpeg);
    background-attachment: fixed;
}
nav{
    padding: 18px 25px;
    box-shadow: 0 0 10px black;
    border-radius: 20px;
}
nav a{
    text-decoration: none;
    padding: 18px 25px;
    color: white;
}
a:hover{
    color: black;
    background: white;
    border-radius: 20px;
}

/* -----------------Heading------------- */
h2{
    background-color: white;
    width: 300px;
    padding: 20px;
    border-bottom: 5px double black;
    border-radius: 30px;
}

/* ------------Div------------- */
div{
    margin-top: 10%;
}
.para1{
    background: url(./Pics/image5.jpeg);
    padding: 10px;
    color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 0 black;
    text-align: justify;
}