div{
    background-color: teal;
    color: black;
    text-align: center;
    padding: 20px 0 20px 0;
    margin: 20px;
    border: 3px solid black;
    width: 300px;
}
.para1{
    position: static;
    left: 400px;
}
.para2{
    position: relative;
    left: 400px;
}